In [98]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")
pd.set_option("mode.copy_on_write", True)

file_names = [
    "Underlying Cause of Death, 2003",
    "Underlying Cause of Death, 2004",
    "Underlying Cause of Death, 2005",
    "Underlying Cause of Death, 2006",
    "Underlying Cause of Death, 2007",
    "Underlying Cause of Death, 2008",
    "Underlying Cause of Death, 2009",
    "Underlying Cause of Death, 2010",
    "Underlying Cause of Death, 2011",
    "Underlying Cause of Death, 2012",
    "Underlying Cause of Death, 2013",
    "Underlying Cause of Death, 2014",
    "Underlying Cause of Death, 2015",
]

# create a new list to contain combined data
data_frames = []

# states to select
# selected_states = [", TX", ", FL", ", WA"]

for name in file_names:
    # construct the file path，you could change your path
    # path = f"C:\Users\ayush\opioid-2023-group-8-final-opioid\10_Code\US_VitalStatistics/{name}.txt"
    path = f"C:\\Users\\ayush\\opioid-2023-group-8-final-opioid\\10_Code\\US_VitalStatistics\\{name}.txt"

    # read txt file
    state_death = pd.read_csv(path, sep="\t")

    # # select only the rows for TX, FL, and WA
    # selected_data = state_death.loc[
    #     state_death["County"].notna()
    #     & state_death["County"].str.contains("|".join(selected_states)),
    #     :,
    # ]

    # append to the list of dataframe
    data_frames.append(state_death)

# concatenate all dataframe in the list
combined_df = pd.concat(data_frames, ignore_index=True)

In [99]:
df = combined_df[:57421]
df

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other alcohol-induced causes,A9,14.0
3,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,NaN,"Barbour County, AL",1005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...,...
57416,NaN,"Sweetwater County, WY",56037.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,251
57417,NaN,"Teton County, WY",56039.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,95
57418,NaN,"Uinta County, WY",56041.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,142
57419,NaN,"Washakie County, WY",56043.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,81
57420,NaN,"Weston County, WY",56045.0,2015.0,2015.0,All other non-drug and non-alcohol causes,O9,61

In [100]:
df["Year"] = pd.to_datetime(df["Year"], format="%Y").dt.strftime("%Y")


df["Year"]

0        2003
1        2003
2        2003
3        2003
4        2003
         ...
57416    2015
57417    2015
57418    2015
57419    2015
57420    2015
Name: Year, Length: 57421, dtype: object

In [101]:
df = df.drop("Notes", axis=1)

In [102]:
df.head()

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,"Autauga County, AL",1001.0,2003,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,"Baldwin County, AL",1003.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,"Baldwin County, AL",1003.0,2003,2003.0,All other alcohol-induced causes,A9,14.0
3,"Baldwin County, AL",1003.0,2003,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,"Barbour County, AL",1005.0,2003,2003.0,All other non-drug and non-alcohol causes,O9,287.0

In [103]:
drug_related_causes = [
    "Drug poisonings (overdose) Unintentional (X40-X44)",
    "Drug poisonings (overdose) Suicide (X60-X64)",
    "All other drug-induced causes",
    "Drug poisonings (overdose) Undetermined (Y10-Y14)",
]

# Filter for drug-related deaths
drug_related_df = df[df["Drug/Alcohol Induced Cause"].isin(drug_related_causes)]
drug_related_df.head()

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
1,"Baldwin County, AL",1003.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
38,"Jefferson County, AL",1073.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0
39,"Jefferson County, AL",1073.0,2003,2003.0,All other drug-induced causes,D9,32.0
54,"Mobile County, AL",1097.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0
78,"Anchorage Borough, AK",2020.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,31.0

In [104]:
drug_related_df["Deaths"] = pd.to_numeric(drug_related_df["Deaths"], errors="coerce")

In [105]:
def extract_state(county_name):
    # Split the string by comma and take the last part as the state
    parts = county_name.split(", ")
    if len(parts) > 1:
        return parts[-1].strip()
    return None


# Apply the function to create a new 'State' column
drug_related_df["State"] = drug_related_df["County"].apply(extract_state)
drug_related_df

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State
1,"Baldwin County, AL",1003.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,AL
38,"Jefferson County, AL",1073.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0,AL
39,"Jefferson County, AL",1073.0,2003,2003.0,All other drug-induced causes,D9,32.0,AL
54,"Mobile County, AL",1097.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0,AL
78,"Anchorage Borough, AK",2020.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,31.0,AK
...,...,...,...,...,...,...,...,...
57382,"Waukesha County, WI",55133.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,34.0,WI
57388,"Winnebago County, WI",55139.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22.0,WI
57398,"Fremont County, WY",56013.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,WY
57404,"Laramie County, WY",56021.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,WY
57408,"Natrona County, WY",56025.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,WY

In [106]:
subset_df = drug_related_df[drug_related_df.State == "AK"]

subset_df.State.value_counts()

State
AK    46
Name: count, dtype: int64

In [107]:
merged_df = pd.merge(drug_related_df, subset_df, how="outer", indicator=True)

# Filter out rows that are in both DataFrames (present in subset_df)
filtered_df = merged_df[merged_df["_merge"] == "left_only"]

# Select only columns from main_df
filtered_df = filtered_df[drug_related_df.columns]


len(filtered_df)

10381

In [108]:
filtered_df["County Code"] = filtered_df["County Code"].astype(str)


filtered_df

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State
0,"Baldwin County, AL",1003.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,AL
1,"Jefferson County, AL",1073.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0,AL
2,"Jefferson County, AL",1073.0,2003,2003.0,All other drug-induced causes,D9,32.0,AL
3,"Mobile County, AL",1097.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0,AL
6,"Cochise County, AZ",4003.0,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0,AZ
...,...,...,...,...,...,...,...,...
10422,"Waukesha County, WI",55133.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,34.0,WI
10423,"Winnebago County, WI",55139.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22.0,WI
10424,"Fremont County, WY",56013.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,WY
10425,"Laramie County, WY",56021.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,WY
10426,"Natrona County, WY",56025.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,WY

In [109]:
missing_values = filtered_df.isnull().sum()
missing_values

County                             0
County Code                        0
Year                               0
Year Code                          0
Drug/Alcohol Induced Cause         0
Drug/Alcohol Induced Cause Code    0
Deaths                             8
State                              0
dtype: int64

In [110]:
rows_with_missing = filtered_df[filtered_df["Deaths"].isnull()]
rows_with_missing

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State
10342,"Bedford city, VA",51515.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN,VA
10343,"Bedford city, VA",51515.0,2015,2015.0,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN,VA
10344,"Bedford city, VA",51515.0,2015,2015.0,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN,VA
10345,"Bedford city, VA",51515.0,2015,2015.0,All other drug-induced causes,D9,NaN,VA
10347,"Clifton Forge city, VA",51560.0,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,NaN,VA
10348,"Clifton Forge city, VA",51560.0,2015,2015.0,Drug poisonings (overdose) Suicide (X60-X64),D2,NaN,VA
10349,"Clifton Forge city, VA",51560.0,2015,2015.0,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,NaN,VA
10350,"Clifton Forge city, VA",51560.0,2015,2015.0,All other drug-induced causes,D9,NaN,VA

In [111]:
filtered_df = filtered_df.dropna(subset=["Deaths"])

In [112]:
filtered_df["County Code"] = filtered_df["County Code"].astype(str).str.rstrip(".0")

In [113]:
filtered_df

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,State
0,"Baldwin County, AL",1003,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,AL
1,"Jefferson County, AL",1073,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,37.0,AL
2,"Jefferson County, AL",1073,2003,2003.0,All other drug-induced causes,D9,32.0,AL
3,"Mobile County, AL",1097,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0,AL
6,"Cochise County, AZ",4003,2003,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0,AZ
...,...,...,...,...,...,...,...,...
10422,"Waukesha County, WI",55133,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,34.0,WI
10423,"Winnebago County, WI",55139,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22.0,WI
10424,"Fremont County, WY",56013,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,WY
10425,"Laramie County, WY",56021,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,WY
10426,"Natrona County, WY",56025,2015,2015.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,WY

In [118]:
grouped_df_with_state = (
    filtered_df.groupby(["Year", "County Code", "County", "State"])["Deaths"]
    .sum()
    .reset_index()
)

In [119]:
grouped_df_with_state

      Year County Code                 County State  Deaths
0     2003       10001        Kent County, DE    DE    10.0
1     2003       10003  New Castle County, DE    DE    54.0
2     2003        1003     Baldwin County, AL    AL    10.0
3     2003        1073   Jefferson County, AL    AL    69.0
4     2003        1097      Mobile County, AL    AL    26.0
...    ...         ...                    ...   ...     ...
7883  2015        9007   Middlesex County, CT    CT    40.0
7884  2015        9009   New Haven County, CT    CT   209.0
7885  2015        9011  New London County, CT    CT    77.0
7886  2015        9013     Tolland County, CT    CT    23.0
7887  2015        9015     Windham County, CT    CT    30.0

[7888 rows x 5 columns]

In [122]:
file_path = "C:\\Users\\ayush\\OneDrive\\Desktop\\Project_PDS\\Final Project\\Deaths.csv"  # Replace with your desired file path

# Save the DataFrame to a CSV file
grouped_df_with_state.to_csv(file_path, index=False)