In [153]:
import pandas as pd

dos_data_path = "https://github.com/MIDS-at-Duke/opioid-2023-group-8-final-opioid/raw/cleaning_dosage/20_Intermediate_Files/Dosage_FULL.parquet"
dos_data = pd.read_parquet(dos_data_path)

In [154]:
dos_data.head()

         BUYER_STATE BUYER_COUNTY           MME  transaction_year
67615455          OR   WASHINGTON  1.513461e+08              2015
67615456          OR    MULTNOMAH  2.785412e+08              2015
67615459          OR       MARION  1.179174e+08              2015
67615464          OR         LANE  1.979066e+08              2015
67615475          OR    TILLAMOOK  1.968917e+07              2015

In [155]:
dos_data["BUYER_COUNTY"] = dos_data["BUYER_COUNTY"].str.replace(" ", "").str.lower()

# Add 'County' at the end of each value in the 'BUYER_COUNTY' column
dos_data["BUYER_COUNTY"] = dos_data["BUYER_COUNTY"]
dos_data.head()

         BUYER_STATE BUYER_COUNTY           MME  transaction_year
67615455          OR   washington  1.513461e+08              2015
67615456          OR    multnomah  2.785412e+08              2015
67615459          OR       marion  1.179174e+08              2015
67615464          OR         lane  1.979066e+08              2015
67615475          OR    tillamook  1.968917e+07              2015

In [156]:
new_column_names = {
    "BUYER_STATE": "state",
    "BUYER_COUNTY": "name",
    # Add more mappings as needed
}

# Rename columns using the dictionary
dos_data1 = dos_data.rename(columns=new_column_names)

len(dos_data1)

13092

In [157]:
data_code = pd.read_csv(
    "https://github.com/kjhealy/fips-codes/raw/master/state_and_county_fips_master.csv"
)

In [158]:
data_code1 = data_code[data_code["state"].notnull()]


data_code1.state.value_counts()

state
TX    254
GA    159
VA    134
KY    120
MO    115
KS    105
IL    102
NC    100
IA     99
TN     95
NE     93
IN     92
OH     88
MN     87
MI     83
MS     82
OK     77
AR     75
WI     72
PA     67
AL     67
FL     67
SD     66
CO     64
LA     64
NY     62
CA     58
MT     56
WV     55
ND     53
SC     46
ID     44
WA     39
OR     36
NM     33
AK     29
UT     29
MD     24
WY     23
NJ     21
NV     17
ME     16
AZ     15
VT     14
MA     14
NH     10
CT      8
RI      5
HI      5
DE      3
DC      1
Name: count, dtype: int64

In [159]:
data_code1["name"] = data_code1["name"].str.replace("county", "", case=False)

# Remove spaces from the resulting strings
data_code1["name"] = data_code1["name"].str.replace(" ", "")

# Convert the strings to lowercase
data_code1["name"] = data_code1["name"].str.lower()

C:\Users\ayush\AppData\Local\Temp\ipykernel_92708\4051651857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_code1['name'] = data_code1['name'].str.replace('county', '', case=False)
C:\Users\ayush\AppData\Local\Temp\ipykernel_92708\4051651857.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_code1['name'] = data_code1['name'].str.replace(' ', '')
C:\Users\ayush\AppData\Local\Temp\ipykernel_92708\4051651857.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_code1['name'] = data_code1['name'].str.lower()

In [171]:
data_code1["name"] = data_code1["name"].str.replace("parish", "")

C:\Users\ayush\AppData\Local\Temp\ipykernel_92708\4293900327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_code1['name'] = data_code1['name'].str.replace('parish', '')

In [191]:
data_code1["name"] = data_code1["name"].str.replace(r"st.", "saint")

C:\Users\ayush\AppData\Local\Temp\ipykernel_92708\3163456889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_code1['name'] = data_code1['name'].str.replace(r'st.', 'saint')

In [198]:
data_code1["name"] = data_code1["name"].str.replace(
    "saintjohnthebaptist", "stjohnthebaptist"
)

C:\Users\ayush\AppData\Local\Temp\ipykernel_92708\4071341052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_code1['name'] = data_code1['name'].str.replace('saintjohnthebaptist', 'stjohnthebaptist')

In [197]:
data_code1[data_code1["name"].str.contains("john")]

       fips                 name state
151    5071              johnson    AR
385   12109           saintjohns    FL
481   13167              johnson    GA
653   17087              johnson    IL
753   18081              johnson    IN
857   19103              johnson    IA
951   20091              johnson    KS
1069  21115              johnson    KY
1180  22095  saintjohnthebaptist    LA
1560  29101              johnson    MO
1731  31097              johnson    NE
1975  37101             johnston    NC
2203  40069             johnston    OK
2517  47091              johnson    TN
2693  48251              johnson    TX
3181  56019              johnson    WY

In [124]:
data_code2 = data_code1.copy()
data_code2["name1"] = data_code2["name"]
data_code2["state1"] = data_code2["state"]

In [199]:
merged_df = pd.merge(dos_data1, data_code1, on=["name", "state"], how="left")

In [200]:
merged_df

      state        name           MME  transaction_year   fips
0        OR  washington  1.513461e+08              2015  41067
1        OR   multnomah  2.785412e+08              2015  41051
2        OR      marion  1.179174e+08              2015  41047
3        OR        lane  1.979066e+08              2015  41039
4        OR   tillamook  1.968917e+07              2015  41057
...     ...         ...           ...               ...    ...
13087    FL      glades  9.245166e+05              2014  12043
13088    FL     liberty  9.186526e+05              2010  12077
13089    FL     liberty  8.218818e+05              2011  12077
13090    FL     liberty  7.645792e+05              2012  12077
13091    FL     liberty  6.762371e+05              2014  12077

[13092 rows x 5 columns]

In [201]:
missing_fips_rows = merged_df[merged_df["fips"].isnull()]
missing_fips_rows.name.value_counts()

Series([], Name: count, dtype: int64)

In [203]:
file_path = "C:\\Users\\ayush\\OneDrive\\Desktop\\Project_PDS\\Final Project\\Dosage_with_CountyCode.csv"  # Replace with your desired file path

# Save the DataFrame to a CSV file
merged_df.to_csv(file_path, index=False)